.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  font-size: 200px;
}
